<form class="app-home__autocomplete" [formGroup]="form">
    <mat-form-field>
        <mat-label>Search location</mat-label>
        <mat-icon [inline]="true" matPrefix>search</mat-icon>
        <app-autocomplete [formControl]="controls.query" [selectedOption]="selectedOption$ | async" (select)="onSelectionChange($event)"></app-autocomplete>
        <mat-error>Invalid Input</mat-error>
    </mat-form-field>
</form>

<mat-card class="app-home__card">
    <h1 *ngIf="weatherLocationsQuery.loading$ | async; else availableContent">
        <app-spinner></app-spinner>
    </h1>

    <ng-template #availableContent>
        <ng-container *ngIf="weatherLocation$ | async as weatherLocation; else noData">

            <mat-card-title class="app-home__title">
                <span class="left">
                    <span>{{weatherLocation.localizedName}}</span>
                    <span>{{weatherLocation.temperature | temperature }}</span>
                </span>
                <span class="right">
                    <span *ngFor="let coordinate of weatherLocation.coordinates | keyvalue">
                        {{ coordinate.key }}: {{coordinate.value}}
                    </span>
                </span>
            </mat-card-title>

            <mat-card-content class="app-home__content">
                <img [src]="'/assets/weather-icons/' + weatherLocation.weatherIcon + '.png'">
                <h2 class="app-home__content-header">{{weatherLocation.weatherText}}</h2>
            </mat-card-content>

        </ng-container>

        <ng-template #noData>
            <h1 class="app-home__no-data">NO DATA</h1>
        </ng-template>
    </ng-template>
    
</mat-card>