<form [formGroup]='form' class="home__search-form">
    <mat-form-field [floatLabel]="'never'">
        <mat-icon [inline]="true" matPrefix>search</mat-icon>
        <input type="text" placeholder="search location" matInput formControlName="localizedName"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)"
            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                {{option.localizedName}}
            </mat-option>
        </mat-autocomplete>
        <mat-error>Invalid Input</mat-error>
    </mat-form-field>
</form>

<mat-card class="home__card">
    <h1 *ngIf="error$ | async as error; else contentAvailable" class="home__unavailable">{{error}}</h1>

    <ng-template #contentAvailable>
        <ng-container *ngIf="favoriteLocation$ | async as favoriteLocation">

            <mat-card-title class="home__title">
                <span>
                    <span>{{favoriteLocation.title}}</span>
                    <span>{{favoriteLocation.temperature}}&#176;C</span>
                </span>
                <button mat-flat-button [color]="'primary'" [disabled]="isLoading$ | async" (click)="favoriteClick(favoriteLocation.favorite)">
                    {{favoriteLocation.favorite ? 'Remove from favorites' : 'Add to favorites' }}
                </button>
            </mat-card-title>

            <mat-card-content class="home__content">
                <h1 class="home__content-header">{{favoriteLocation.weatherText}}</h1>
                <div class="home__forecasts">
                    <app-forecast *ngFor="let forecast of favoriteLocation.forecasts" [forecastData]="forecast">
                    </app-forecast>
                </div>
            </mat-card-content>

        </ng-container>
    </ng-template>
    
</mat-card>