:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

::ng-deep .mat-form-field-prefix .mat-icon {
    vertical-align: bottom;
}

.home {
    &__search-input {
        align-self: center;
    }
    &__card {
        flex-grow: 1;
        opacity: .5;
    }
}
