.example-spacer {
    flex: 1 1 auto;
}
.app {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    &__toolbar {
        justify-content: space-between;
    }
    &__content {
        flex-grow: 1;
        margin: 50px 0;
        width: 50vw;
    }
    &__content-wrapper {
        flex-grow: 1;
        align-self: stretch;
        background-image: url('/assets/weather.jpeg'), url('/asaf-regev-06-03-2021/assets/weather.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}