@use 'vendors';
$toolbar-height: 64px;
$toolbar-height-mobile: 56px;

.app {
    &__container {
        height: 100%;
    }
    &__toolbar {
        justify-content: space-between;
    }
    &__content {
        @include vendors.spread(margin, 10px, 50px);
        @include vendors.spread(width, 90vw, 50vw);
    }
    &__content-wrapper {
        flex-grow: 1;
        align-self: stretch;
        background-image: url('/assets/weather.jpeg'), url('/asaf-regev-06-03-2021/assets/weather.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - #{$toolbar-height});
        @include vendors.media('<=xs') {
            height: calc(100vh - #{$toolbar-height-mobile});
        }
        overflow: auto;
    }
    &__toolbar-actions {
        @include vendors.media('<=xs') {
            display: none;
        }
        &--mobile {
            @include vendors.media('>xs') {
                display: none;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
    }
}