<mat-toolbar class="toolbar">
    <span class="toolbar__title">
      <span>Nice Weather Task</span>
      <a href="https://cors-anywhere.herokuapp.com/corsdemo">CORS</a>
      <a href="https://github.com/asaf11108/asaf-regev-06-03-2021/">GitHub</a>
    </span>
  
    <span class="toolbar__actions">
      <ng-container *ngTemplateOutlet="menuActions"></ng-container>
    </span>
  
    <span class="toolbar__actions--mobile">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="toolbar__menu">
          <ng-container *ngTemplateOutlet="menuActions"></ng-container>
        </div>
      </mat-menu>
    </span>
  
    <ng-template #menuActions>
      <button mat-flat-button [routerLink]="['home']" [routerLinkActive]="['mat-primary']">
        Home
      </button>
      <button mat-flat-button [routerLink]="['history']" [routerLinkActive]="['mat-primary']" [disabled]="isLoading$ | async">
        History
      </button>
      <span class="toolbar__menu-spacer"></span>
      <div class="toolbar__temprature">
        <button mat-mini-fab [color]="'primary'">
          &#176;F
        </button>
        <button mat-mini-fab [color]="''">
          &#176;C
        </button>
      </div>
    </ng-template>
  
  </mat-toolbar>