<mat-toolbar class="toolbar">
    <span class="toolbar__title">
      <span>Weather Task</span>
      <a href="https://cors-anywhere.herokuapp.com/corsdemo">CORS</a>
      <a href="https://github.com/asaf11108/asaf-regev-06-03-2021/">GitHub</a>
    </span>
  
    <span class="toolbar__actions">
      <ng-container *ngTemplateOutlet="menuActions"></ng-container>
    </span>
  
    <span class="toolbar__actions-mobile">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="toolbar__menu-wrapper">
          <ng-container *ngTemplateOutlet="menuActions"></ng-container>
        </div>
      </mat-menu>
    </span>
  
    <ng-template #menuActions>
      <div class="toolbar__menu">
        <button mat-flat-button [routerLink]="['home']" [routerLinkActive]="['mat-primary']">
          Home
        </button>
        <button mat-flat-button [routerLink]="['history']" [routerLinkActive]="['mat-primary']">
          History
        </button>
        <span class="toolbar__menu-spacer"></span>
        <mat-button-toggle-group class="toolbar__temprature-types" (change)="onButtonToggleChange($event)">
          <mat-button-toggle *ngFor="let temperatureType of TemperatureType | keyvalue; let first = first" [value]="temperatureType.value" [checked]="first">
            &#176;{{ TemperatureTypeSymbol[temperatureType.value] }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </ng-template>
  
  </mat-toolbar>