@use 'vendors';

.toolbar {
    display: flex;
    justify-content: space-between;
    @include vendors.media('>xs') {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &__title {
        display: inline-flex;
        gap: 10px;
        align-items: baseline;
        a {
            font-size: 0.7em;
            @include vendors.media('<=xs') {
                display: none;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        @include vendors.media('<=xs') {
            display: none;
        }
    }

    &__actions-mobile {
        @include vendors.media('>xs') {
            display: none;
        }
    }

    &__menu-spacer {
        @include vendors.spread(width, 20px, 40px);
        @include vendors.spread(height, 20px, 40px);
    }
    
    &__menu-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__temprature {
        display: flex;
        justify-content: center;
    }

    &__menu {
        display: contents;
        >:nth-child(1) { order: 0; }
        >:nth-child(2) { order: 1; }
        >:nth-child(3) { order: 2; }
        >:nth-child(4) { order: 3; }

        @include vendors.media('>xs') {
            >:nth-child(1) { order: 1; }
            >:nth-child(2) { order: 0; }
        }
    }
}