<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Search location</mat-label>
        <mat-icon [inline]="true" matPrefix>search</mat-icon>
        <input type="search" appInput [formControl]="controls.query"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                {{option.localizedName}}
            </mat-option>
        </mat-autocomplete>
        <mat-error>Invalid Input</mat-error>
    </mat-form-field>
</form>